

.img-circle{
	width: 50px;
	height: 50px;
}
.bg-4 { 
    background-color: #2f2f2f;
	color: #ffffff;
}
.margin {margin-bottom: 45px;}
.bg-1 { 
	background-color: #1abc9c; /* Green */
	color: #ffffff;}
	
	.bg-2 { 
		background-color: #474e5d; /* Dark Blue */
		color: #ffffff;
	}
	#sum{
		border: solid 3px red;
		background-image: 
		color:red; 
	}
	#sumv{
		color:green; 
	}